.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-header h2 {
  margin-top: 5px;
}

.App-intro {
  margin-top: 15px;
  font-size: large;
}



#ddLanguage div div {
  color: white !important;
}


#message {
  position: fixed;
  bottom: 0;
  left: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* REACT ANIMATIONS */
.slideUp-enter {
  transform: translateY(100%) !important;
  transition: transform 0.4s ease-in-out !important;
}

.slideUp-enter.slideUp-enter-active {
  transform: translateY(0%) !important;
  transition: transform 0.4s ease-in-out !important;
}

.slideUp-leave {
  transform: translateY(0%) !important;
  transition: transform 0.4s ease-in-out !important;
}

.slideUp-leave.slideUp-leave-active {
  transform: translateY(100%) !important;
  transition: transform 0.4s ease-in-out !important;
}